# Server Configuration
SERVER_PORT=8080
SERVER_URL=http://localhost:8080
LOG_LEVEL=info

# Frontend Configuration
CORS_ORIGIN=http://localhost:5173
FRONTEND_URL=YOUR_FRONTEND_URL_HERE

# Authentication & API
IGDB_CLIENT_ID=YOUR_CLIENT_ID_HERE
IGDB_CLIENT_SECRET=YOUR_CLIENT_SECRET_HERE

# Email Service (Resend)
RESEND_KEY=YOUR_RESEND_API_KEY_HERE

# Security
JWT_SECRET=YOUR_JWT_SECRET_HERE
ADMIN_API_KEY=YOUR_ADMIN_API_KEY_HERE

# Database
DATABASE_URL=YOUR_DATABASE_URL_HERE